/* The colors used include:
    - teal
    - rgb alpha value of the color above
*/

/* Add your code here */
table {
    border-collapse: collapse;
    accent-color: alpha;
    border: 1px solid black;
  }
  th {
    color: white;
    font-size: 14pt;
    background-color: #0f8181;
    padding: 20px;
  }
  td{
    border-bottom: 1px solid black ;
    padding: 20px;
  }

  .table1
  {
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    /* margin-bottom: 30px; */
  }
  
