body{
    background-color: #024058;
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
  }
  
  #form{
    background-color: white;
    padding:20px;
    border-radius: 5px;
    margin: auto;
    margin-top: 30px;
  }
  
  .required{
    color: #024058;
  }
  
  div{
    padding-top: 10px;
  }
  
  h1{
    margin: auto;
    text-align: center;
    color: rgb(50, 151, 190);
  }
  
  .input-box{
    width:100%;
    border: 1.5px solid rgba(170, 161, 161, 1);
    padding:3px;
    margin-top: 2px;
  }
  
  .select-box{
    width:100%;
    border: 1px solid rgb(170, 161, 161);
    margin-top: 2px;
  }
  
  /* input:required:invalid::after{
    outline: 1.5px auto red;
  } */
  
  fieldset, fieldset > legend{
    border:0;
    padding-left: 0%;
    margin: 0%;
  }
  #reg-status, #anything{
    border-radius: 5px;
  }
  
  /*Buttons*/
  
  #submit, #reset{
    width:49%;
    display: inline;
  }
  
  #reset{
    color: #024058;
    background-color: white;
    border:1.5px solid #024058;
    padding: 10px;
  }
  
  #submit{
    color:white;
    background-color: #024058;
    border:1.5px solid #024058;
    padding: 10px;
  }
  
  #submit:hover, #reset:hover{
    background-color: rgb(50, 151, 190);
    color: white;
    font-weight: bold;
    border:1.5px solid white;
  }